@import "tailwindcss";
@plugin "tailwindcss-animate";

@source "../../../packages/ui/src";

@theme {
  --color-primary: #7C3AED;
  --color-secondary: #F3F4F6;
  --color-accent: #6D28D9;
  --color-sidebar: #FFFFFF;
  --color-background: #F9FAFB;
  --color-card: #FFFFFF;
  --color-border: #E5E7EB;

  --font-inter: "Inter", sans-serif;
}

:root {
  --background: #F9FAFB;
  --foreground: #111827;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

/* Custom styles for the scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #E5E7EB;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #D1D5DB;
}